.sr-only {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.close-dialog {
    border: none;
    border-radius: 4px;
    padding: 1rem;
    background-color: rgb(73, 67, 67);
    cursor: pointer;
    transition: .3s;
}
.close-dialog:hover {
    opacity: .5;
}

.svg {
    clip-path: polygon();
    background-color: rgb(228, 32, 32);
}